body{
  background-image: url(../css/images/hospital.jpg);
}

.change-password-box {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 450px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .logo {
    text-align: center;
    margin-bottom: 20px;
  }

  .avatar {
    border-radius: 50%;
  }

  .name {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color: #0578C0;
    font-size: 15px;
    font-weight: normal;
  }

  .change-password-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }

  h2 {
    font-size: 24px;
    color: #3a86ff;
    text-align: center;
    position: relative;
    bottom: 30px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-size: 16px;
    color: #2d5986;
    margin-bottom: 5px;
  }

  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #333;
    box-sizing: border-box;
  }

  button[type="submit"] {
    background-color: #2ea7cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  button[type="submit"]:hover {
    background-color: #193b46;
  }

  p {
    font-size: 16px;
    color: #07235f;
    text-align: center;
    margin-top: 20px;
  }

  a {
    color: #2ea7cc;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
