@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

/* header */
header {
    background-color: #e2eafc;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 120px ;
}

.logo{
    text-decoration: none;
    color: #0578C0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    position: relative;
    right: 90px;
}

.logo_image {
    position: relative;
    right: 100px;
}

.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 10px;
}

.navigation a:hover{
    color: #03045e;
}

section {
    padding: 100px 200px;
}

/* the main */
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../CSS/Images/Untitled-2.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #ffffff;
    font-size: 2em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 1.7em;
    font-weight: 600;
}

.main h3 {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 100%;
    width: 70%;
}

/*main (the bottom) */
.main-btn {
  color: #fff;
  background-color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main-btn:hover {
  background-color: #122b70;
  transform: scale(1.1);
}

/* social icons */
.social-icons a {
  color: #fff;
  font-size: 1.7em;
  padding-right: 30px;
}

/* map design */
.map{
    position: relative;
    height: 750px;
}

.map_text {
    background-color: #00111c;
    width: 550px;
    text-align: center;
    position: relative;
    left: 400px;
}

.map h2 {
    font-size: 2.8em;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 80px;
    color: #75bce9;
    border-radius: 30px;
}

.map .map_img {
    position: relative;
}

/* patient information background */
.patient-background{
    background: linear-gradient(#00111c,#7180FC);
    background-size: cover;
    height: 720px;
}

/* patient search */
.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    left: 110px;
    top: 150px;
    width: 80%;
    padding: 20px;
  }

  .search-bar label{
    font-size: 25px;
    font-weight: 500;
    color: #caf0f8;
    position: relative;
    left: 50px;
  }
  
.search-bar input[type="text"] {
    border: 2px solid lightblue ; 
    padding: 8px;
    border-radius: 15px;
    width: 700px;
    position: relative;
    left: 15px;
    top: 10px;
  }
  
.search-bar button[type="submit"] {
    background-color: #caf0f8;
    color: #023e8a;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    left: 30px;
  }


/* patient information table */
.patient-information {
	margin-bottom: 40px;
  }
  
  .patient-information h2 {
    background-color: #e9ecef;
    width: 550px;
    text-align: center;
    position: relative;
    top: 150px;
    left: 200px;
    font-size: 2.2em;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 50px;
    color: #0578C0;
    border-radius: 30px;
  }
  
  .patient-information table {
	width: 138%;
	border-collapse: collapse;
    position: relative;
    top: 150px;
    right: 180px;
  }
  
  .patient-information th,
  .patient-information td {
    border: 1px solid #e9ecef;
	padding: 10px;
	text-align: left;
  }
  
  .patient-information th {
	background-color: #e2eafc;
	font-weight: bold;
  }

  .patient-information a {
  text-decoration: none;
  color: #edf2fb;
  }

  /*add medication  */
  .add-medication-doses {
    background-image: url(../CSS/Images/medication.png);
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    padding: 50px ;
    margin-bottom: 150px;
    position: relative;
    top: 100px;
    left: 70px;
    overflow: hidden;
  }

  .add-medication-doses h2 {
    color: #3a86ff;
    position: relative;
    bottom:  20px;
  }
  
  form fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  
  form legend {
    color: #91928d;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  form label {
    color: #000000;
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="number"] {
    padding: 5px;
    border: 1px solid #3a86ff;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 20px;
  }
  
  form input[type="text"]:focus,
  form input[type="number"]:focus {
    outline: none;
    border-color: #2f4858;
  }
  
  button[type="submit"] {
    background-color: #023e8a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #4cc9f0;
}

.notes {
  color: #3a86ff;
}

/*add bills  */
.add-bills {
  background-image: url(../CSS/Images/bill.png);
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  padding: 50px ;
  margin-bottom: 150px;
  position: relative;
  top: 100px;
  left: 70px;
  overflow: hidden;
}

.add-bills h2 {
  color: #3a86ff;
  position: relative;
  bottom:  20px;
}

form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

form legend {
  color: #91928d;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

form label {
  color: #000000;
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  font-weight: bold;
}

.add-bills form input[type="text"],
.add-bills form input[type="number"],
.add-bills form input[type="date"] {
  padding: 5px;
  border: 1px solid #3a86ff;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 20px;
}

.add-bills form input[type="text"]:focus,
.add-bills form input[type="number"]:focus,
.add-bills form input[type="date"]:focus {
  outline: none;
  border-color: #2f4858;
}

button[type="submit"] {
  background-color: #023e8a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #4cc9f0;
}

/*add x-ray  */
.add-x-ray {
  background-image: url(../CSS/Images/Radiography.png);
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  padding: 50px ;
  margin-bottom: 150px;
  position: relative;
  top: 100px;
  left: 70px;
  overflow: hidden;
}

.add-x-ray h2 {
  color: #3a86ff;
  position: relative;
  bottom:  20px;
}

form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

form legend {
  color: #91928d;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

form label {
  color: #000000;
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  font-weight: bold;
}

.add-x-ray form input[type="text"],
.add-x-ray form input[type="number"],
.add-x-ray form input[type="date"] {
  padding: 5px;
  border: 1px solid #3a86ff;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 20px;
}

.add-x-ray form input[type="text"]:focus,
.add-x-ray form input[type="number"]:focus,
.add-x-ray form input[type="date"]:focus {
  outline: none;
  border-color: #2f4858;
}

button[type="submit"] {
  background-color: #023e8a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #4cc9f0;
}

/*add lab  */
.add-lab {
  background-image: url(../CSS/Images/examin.png);
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  padding: 50px ;
  margin-bottom: 150px;
  position: relative;
  top: 100px;
  left: 70px;
  overflow: hidden;
}

.add-lab h2 {
  color: #3a86ff;
  position: relative;
  bottom:  20px;
}

form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

form legend {
  color: #91928d;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

form label {
  color: #000000;
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  font-weight: bold;
}

.add-lab form input[type="text"],
.add-lab form input[type="number"],
.add-lab form input[type="date"] {
  padding: 5px;
  border: 1px solid #3a86ff;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 20px;
}

.add-lab form input[type="text"]:focus,
.add-lab form input[type="number"]:focus,
.add-lab form input[type="date"]:focus {
  outline: none;
  border-color: #2f4858;
}

button[type="submit"] {
  background-color: #023e8a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #4cc9f0;
}

/* set doctor schedule */
.schedule {
    background-image: url(.//Images/sechdual3.png);
    background-size: cover;
}

.schedule .content{
    margin-top: 30px;
}

.schedule-management {
    margin-bottom: 50px;
}

  .schedule-management h2 {
    border-radius: 20px;
    color: #3a6cf4;
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

  .schedule-management form {
    margin-bottom: 50px;

}

  .schedule-management fieldset {
    border: none;
    margin-bottom: 20px;
}

  .schedule-management legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

  .schedule-management label {
    color: #fff;
    display: block;
    margin-bottom: 7px;
}

  .schedule-management input {
    border: 2px solid #ffd60a;
    border-radius: 7px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

  .schedule-management button {
    background-color: #ffd60a;
    border: none;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
}

  .schedule-management button:hover {
    background-color: #89c2d9;
}

  /* this the line between them */
  .schedule-management hr {
    border: none;
    border-top: 1px solid #ffd60a;
    margin-bottom: 20px;
}

  .schedule-management h3 {
    color: #ccc;
}

  .schedule-management table {
    border-collapse: collapse;
    width: 100%;
}

  .schedule-management table th,
  .schedule-management table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

  .schedule-management table th {
    background-color: #cbf3f0;
    font-weight: bold;
}

  .schedule-management td {
    color: #fff;
}

  .schedule-management table td button {
    background-color: #ffd500;
    border: none;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.2s ease-in-out;
}

  .schedule-management table td button:first-child {
    margin-right: 10px;
}

  .schedule-management table td button:hover {
    background-color: #89c2d9;
}

/* The cards */
.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}


/* footer */
.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px){
  header{
    padding: 1px 10px;
    font-size: .75em;
  }

  .navigation a{
    padding-left: 10px;
  }

  .title{
    font-size: 1.8em;
  }

  section{
    padding: 80px 20px;
  }

  .main {
    background: url(../CSS/Images/Untitled-11.png) no-repeat;
}

  .main-content h2{
    font-size: 1em;
  }

  .main-content h3{
    font-size: 1.6em;
  }

  .content{
    flex-direction: column;
    align-items: center;
  }

  .map .map_img {
    width: 780px;
  }

  .map_text {
    width: 650px;
    left: 60px;
  }

  .search-bar {
    left: 50px;
  }

  .search-bar label{
    left: -10px;
  }

  .patient-information h2 {
    width: 450px;
    left: 150px;
  }

  .patient-information table {
    width: 103%;
    top: 135px;
    right: 10px;
  }

  .patient-information th,
  .patient-information td {
    padding: 4.8px;
  }

  .add-medication-doses {
    left: 35px;
  }

  .add-bills {
    left: 35px;
  }
}

@media (max-width:641px){

  header{
    padding: 1px 15px;
    font-size: 0.85em;
  }

  body{
    font-size: 12px;
  }

  .main {
    background: url(../CSS/Images/Untitled-10.png) no-repeat;
}

  .main-content h2{
    font-size: 0.8em;
  }

  .main-content h3{
    font-size: 1.4em;
  }

  .map .map_img {
    width: 480px;
  }

  .map_text {
    width: 450px;
    left: 20px;
  }

  .search-bar {
    left: 1px;
  }

    .search-bar label{
  left: -10px;
  }

  .patient-information h2 {
    width: 450px;
    left: 1px;
  }

  .patient-information table {
    width: 100%;
    top: 145px;
    right: 20px;
  }

  .patient-information th,
  .patient-information td {
    padding: 4.8px;
  }

  .add-medication-doses {
    left: 25px;
  }

  .add-bills {
    left: 25px;
  }
}