@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

/* header */
header {
    background-color: #e2eafc;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 150px ;
}

.logo-name{
    text-decoration: none;
    color: #0578C0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    position: relative;
    right: 90px;
}

.logo_image {
    position: relative;
    right: 100px;
}

.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 10px;
}

.navigation a:hover{
    color: #03045e;
}
/* for center all sections */
section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../CSS/images/admin.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #ffffff;
    font-size: 2em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 1.7em;
    font-weight: 600;
}

.main h3 {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 100%;
    width: 70%;
}

/*main (the bottom) */
.main-btn {
    color: #fff;
    background-color: #101111;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #777c7c;
    transform: scale(1.1);
}

/* social icons */
.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

/* map design */
.map{
    position: relative;
    height: 750px;
}

.map_text {
    background-color: #414346;
    width: 550px;
    text-align: center;
    position: relative;
    left: 400px;
}

.map h2 {
    font-size: 2.8em;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 80px;
    color: #2699e0;
    border-radius: 30px;
}

.map .map_img {
    position: relative;
}

/* patient-background */
.patient-background{
    background: linear-gradient(#212529,#adb5bd);
    background-size: cover;
    height: 720px;
}

/* patient logo */
.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    left: 110px;
    top: 150px;
    width: 80%;
    padding: 20px;
}

.search-bar label{
    font-size: 25px;
    font-weight: 500;
    color: #caf0f8;
    position: relative;
    left: 50px;
}

.search-bar input[type="text"] {
    border: 2px solid lightblue ; 
    padding: 8px;
    border-radius: 15px;
    width: 700px;
    position: relative;
    left: 15px;
    top: 10px;
}

.search-bar input[type="submit"] {
    background-color: #caf0f8;
    color: #023e8a;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    left: 30px;
}

  /* add new patient bottom */
.add-patient {
    color: #0578C0;
    background-color: #caf0f8;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    position: relative;
    top: 150px;
    left:550px
}

.add-patient:hover {
    background-color: #033250;
    transform: scale(1.1);
}

/* table patient design */
.patient-information {
    margin-bottom: 40px;
}

.patient-information h2 {
    background-color: #e9ecef;
    width: 550px;
    text-align: center;
    position: relative;
    top: 50px;
    left: 200px;
    font-size: 2.2em;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 50px;
    color: #0578C0;
    border-radius: 30px;
    
}

.patient-information table {
    width: 138%;
    border-collapse: collapse;
    position: relative;
    top: 50px;
    right: 180px;
}

.patient-information th,
.patient-information td {
    border: 1px solid #e9ecef;
    padding: 10px;
    text-align: left;
}

.patient-information th {
    background-color: #e2eafc;
    font-weight: bold;
}

.patient-information a {
    text-decoration: none;
    color: #edf2fb;
}

/*add bills  */
.add-bills {
    background-image: url(../CSS/Images/bill.png);
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    padding: 50px ;
    margin-bottom: 150px;
    position: relative;
    top: 100px;
    left: 70px;
    overflow: hidden;
}

.add-bills h2 {
    color: #3a86ff;
    position: relative;
    bottom:  20px;
}

form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

form legend {
    color: #91928d;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

form label {
    color: #000000;
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="date"] {
    padding: 5px;
    border: 1px solid #3a86ff;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 20px;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="date"]:focus {
    outline: none;
    border-color: #2f4858;
}

button[type="submit"] {
    background-color: #414346;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #4cc9f0;
}

/* staff section background */
.staff-background{
    background-image: url(../CSS/Images/staff\ background.png);
    background-size: cover;
    height: 720px;
}

/* staff search bar */
.staff-search-bar {
    display: flex;
    align-items: center;
    position: relative;
    left: 110px;
    top: 150px;
    width: 80%;
    padding: 20px;
}

.staff-search-bar label{
    font-size: 25px;
    font-weight: 500;
    color: #4cc9f0;
    position: relative;
    left: 50px;
}

.staff-search-bar input[type="text"] {
    border: 2px solid lightblue ; 
    padding: 8px;
    border-radius: 15px;
    width: 700px;
    position: relative;
    left: 15px;
    top: 10px;
}

.staff-search-bar button[type="submit"] {
    background-color: #48cae4;
    color: #212529;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    left: 30px;
}

/* add new staff bottom */
.staff-add-btn {
    color: #212529;
    background-color: #48cae4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    position: relative;
    top: 150px;
    left:550px
}

.staff-add-btn:hover {
    background-color: #0c5583;
    transform: scale(1.1);
}

/* staff table design */
.staff-information {
    margin-bottom: 40px;
}

.staff-information h2 {
    background-color: #e9ecef;
    width: 550px;
    text-align: center;
    position: relative;
    top: 50px;
    left: 200px;
    font-size: 2.2em;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 50px;
    color: #212529;
    border-radius: 30px;
    
}

.staff-information table {
    width: 138%;
    border-collapse: collapse;
    position: relative;
    top: 50px;
    right: 180px;
}

.staff-information th,
.staff-information td {
    border: 1px solid #d4dde2;
    padding: 10px;
    text-align: left;
}

.staff-information td {
    color: #fff;
}

.staff-information th {
background-color: #e1e7eb;
    font-weight: bold;
}

.staff-information a {
    text-decoration: none;
    color: #5ca0e4;
}

/* footer */
.footer {
    background-color: #212529;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
    }
}
