*{
    margin: 0;
    padding: 0;
    font-family:sans-serif ;
}

body{
    /* background: linear-gradient(#fb8500,#f94144); */
    background: linear-gradient(#48cae4,#ade8f4);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::after{
    content: "";
    height: 100%;
    width: 100%;
    background: #ade8f4;
    position: absolute;
    z-index: -1;
    clip-path: circle(40% at right 90%);
}

.content{
    height: 80%;
    width: 80%;
    background:rgba(255,255,255,0.2);
    border-radius: 20px;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    position: relative;
    top: 20px;
    margin-bottom: 20px;
}

nav .logo{
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    position: relative;
    right: 220px;
}

nav ul li {
display: inline-block;
margin: 0 6px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

nav ul li a:hover {
    color: #023e8a;
}

.internal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
    position: relative;
    bottom: 20px;
}

.internal .text{
    color: #000000;
    width: 100%;
}

.internal .text h2 {
    color: #023e8a;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    bottom: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    font-weight: bold;
}

/* tr:nth-child(even) {
    background-color: #f2f2f2;
} */