* {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("../css/images/hospital.jpg"); */
  background-size: cover;
  background-position: center;
}


/* header */
header {
  background-color: #e2eafc;
  color: #0578C0;
  padding: 20px;
  text-align: center;
}

/* navigation bar */
nav {
  background-color: #f1f1f1;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  color: #0074d9;
}

/* main */
.container {
  display: flex;
  align-items: center;
}

img {
  object-fit: cover;
  flex-direction: row;
  position: relative;
}

.text {
  padding-top: 50px;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 50px;
}

h2 {
  color: #0578C0;
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

/* footer */
.footer {
background-color: #196a9c;
color: #fff;
padding: 15px;
display: flex;
justify-content: space-between;
}

.footer-title {
font-family:sans-serif;
font-size: 1.3em;
font-weight: 600;
position: relative;
left: 600px;
}

.footer-title span {
color: #000016;
}

.footer .social-icons a{
font-size: 1.3em;
padding: 0 12px 0 0;
}
