/* body {
    background: linear-gradient(to right, #4ba6c7, #ffffff);
    animation: gradient 15s ease infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */


.login-form {
   font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
    background-color: #fff;
  }

  .login-box h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.logo{
  margin: auto;
	text-align: center;
}

.name{
  font-family: Arial, sans-serif;
  color: #0578C0;
}
  
  .forgot_pass {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
	  color: #3a86ff;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    color: #2d5986;
    margin-bottom: 5px;
    display: block;
  }
  
  input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #386b9e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #2091d8;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  

