.container {
    font-family: Arial, sans-serif;
	max-width: 600px;
	margin: auto;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 5px;
}
.logo {
	margin: auto;
	text-align: center;
  }
  
.h1 {
    font-family: Arial, sans-serif;
    color: #0578C0;
}
h1 {
	text-align: center;
	margin-bottom: 20px;
}

.staff_reg {
	font-family: Arial, sans-serif;
	color: #3a86ff;
}

label {
	display: block;
	/* font-weight: bold; */
    color: #2d5986;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"],
textarea {
	display: block;
	width: 97%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

select {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #4779ac;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #4d8fb8;
}

textarea {
	height: 100px;
	resize: none;
}

.signin {
  text-align: center;
}
.signin a {
  color: #337ab7;
}
.signin a:hover {
  text-decoration: underline;
}
